[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "boringssl"]
	path = boringssl
	url = https://github.com/google/boringssl
[submodule "boringssl-compat"]
	path = boringssl-compat
	url = https://github.com/SlimRoms/android_external_sony_boringssl-compat
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
[submodule "BoringSSL-Compat"]
	path = BoringSSL-Compat
	url = https://github.com/orcchg/BoringSSL-Compat
